<!DOCTYPE html>
<html>
{{> Head}}

<body>
    {{> Navbar}}

    <div style="height: 56px"></div>
    {{{body}}}

    <a id="whatsapp" href="https://api.whatsapp.com/send?phone=56931470785">

        <img src="/assets/images/whatsapp.png" width="100">
    </a>
    <style>
        #whatstapp {
            position: fixed;
            bottom: 0;
            right: 0px;

        }
    </style>

</body>

</html>