<!DOCTYPE html>
<html>
{{> Head}}

<body>
    {{> Navbar}}

    <div style="height: 56px"></div>
    {{{body}}}

    <div id="whatsapp">
        <a  href="https://api.whatsapp.com/send?phone=56931470785">

        <img src="/assets/images/whatsapp.png" width="100">
    </a>
    </div>
    <style>
        #whatsapp {
            position: fixed;
            bottom: 50px;
            right:50px ;

        }
    </style>

</body>

</html>