<div class="p-5">

    {{> Productos/Form}}

    {{> Productos/Table}}

    {{> Productos/Modal}}

</div>

<script>

    let productId;



    const sizes = ["S", "M", "L", "XL", "XXL"]
    const colors = ["Azul", "Rojo", "Amarillo", "Morado", "Negro", "Blanco"]
    const genders = ["Hombre", "Mujer", "Unisex"]

    const sizesSelect = document.getElementById("sizes")
    sizes.forEach(s => sizesSelect.innerHTML += `<option value="${s}">${s}</option>`)

    const colorSelect = document.getElementById("colors")
    colors.forEach(c => colorSelect.innerHTML += `<option value="${c}">${c}</option>`)

    const genderSelect = document.getElementById("genders")
    genders.forEach(g => genderSelect.innerHTML += ` <div>  <span>${g}</span> <input class="form-control" value="${g}" type="radio" name="genero"> </div>`)

    let categories;
    let categoriesNames;
    $(document).ready(async () => {
        categories = (await axios.get("http://localhost:3000/categories")).data
        categoriesNames = categories.map(c => c.name)
        let categoriesSelect = document.getElementById("categories")
        categoriesNames.forEach(c => {
            categoriesSelect.innerHTML += `<option value="${c}">${c}</option>`
        })
    })


    $("form").submit((e) => {
        e.preventDefault()
        const parent = e.target.parentElement
        const method = parent.className == "modal-body" ? "put" : "post"
        validationCreateOrUpdate(e.target, method)
    })




    const validationCreateOrUpdate = async (form, method) => {


        const camposLengt = form.getElementsByTagName("label").length
        let elements = Array.from(form).map(i => i.type == "text" || i.type == "number" || i.type == "select-one" ? i.value : i.type == "file" ? i.files : i.type == "radio" && i.checked ? i.value : false)
        elements = elements.filter(i => i)
        let length_Final = elements.length
        let [model, stock, price, image, category, description, size, gender, color] = elements

        image = image[0]

        let validate = true
        console.log(length_Final)

        console.log(camposLengt)
        length_Final < camposLengt ? (alert("Te falta poner algo mi bro"), validate = false)
            : stock < 0 || price < 0 ? (alert("El stock y el precio deben ser solo números positivos"), validate = false)
                : image.size > 5000000 || image.type.split("/")[0] !== "image" ? (alert("El archivo debe ser una imagen de máximo 5MB"), validate = false)
                    : !categoriesNames.includes(category) || !sizes.includes(size) || !colors.includes(color) || !genders.includes(gender) ? (alert("Alerta de hack"), validate = false) : false

        category = categories.find(c => c.name == category).id

        let formDataImage = new FormData()
        formDataImage.append("image", image)
        if (validate) {


            const urlImage = (await axios.post("/files", formDataImage)).data
            await axios[method]("http://localhost:3000/productos" + method == "put" ? `/${productId}` : '',

                [stock, price, urlImage, category, description, size, gender, color, model]
            )

            productId = null
        }
    }
    /*
        var formData = new FormData();
        var imagefile = document.querySelector('#file');
        formData.append("image", imagefile.files[0]);
        axios.post('upload_file', formData, {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        })
    */


    const updateProduct = () => {

    }
</script>