<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Modelo</label>
        <input maxlength="30" class="form-control" placeholder="Ingrese el Modelo del producto">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Stock</label>
        <input class="form-control" type="number" placeholder="Ingrese cantidad">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Precio</label>
        <input class="form-control" type="number" placeholder="Ingrese el precio del producto">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Imagen</label>
        <input class="form-control" type="file" placeholder="Ingrese imagen del producto">
        <small id="passwordHelpInline" class="text-muted">
            Peso máximo: 5MB
        </small>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Categoría</label>
        <select class="form-control" id="categories">
            <option selected disabled>
                <--- Seleccione la categoría --->
            </option>


        </select>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Descripción</label>
        <input class="form-control" placeholder="Ingrese el descripción del producto">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Talla</label>
        <select class="form-control" id="sizes">
            <option selected disabled>
                <--- Seleccione la categoría --->
            </option>


        </select>

    </div>

    <div class="form-group w-50">
        <label for="exampleInputEmail1">Genero</label>
        <div class="d-flex justify-content-around">
            <div>
                <span>Hombre</span>
                <input class="form-control" value="hombre" type="radio" name="genero">
            </div>

            <div>
                <span>Mujer</span>
                <input class="form-control" value="mujer" type="radio" name="genero">
            </div>
            <div>
                <span>Unisex</span>
                <input class="form-control" value="unisex" type="radio" name="genero">
            </div>
        </div>

    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Color</label>
        <select class="form-control">
            <option value="Azul">Azul</option>
            <option value="Rojo">Rojo</option>
            <option value="Amarillo">Amarillo</option>
            <option value="Morado">Morado</option>
            <option value="Negro">Negro</option>
            <option value="Blanco">Blanco</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Agregar</button>
</form>

<script>

    const camposLengt = $("label").length
    const sizes = ["S", "M", "L", "XL", "XXL"]

    const sizesSelect = document.getElementById("sizes")
    sizes.forEach(s => sizesSelect.innerHTML += `<option value="${s}">${s}</option>`)

    let categories;
    let categoriesNames;
    $(document).ready(async () => {
        categories = (await axios.get("http://localhost:3000/categories")).data
        categoriesNames = categories.map(c => c.name)
        let categoriesSelect = document.getElementById("categories")
        categoriesNames.forEach(c => {
            categoriesSelect.innerHTML += `<option value="${c}">${c}</option>`
        })
    })


    $("form").submit(async (e) => {
        e.preventDefault()

        /*
                const file = $("input[type='file']")[0].files[0]
        
                const data =  new FormData()
                data.append('target', file)
                
                try {
                    axios.post("http://localhost:3000/file", data)
                } catch (e) {
                    console.log(e)
                }
        */


        let elements = Array.from(e.target).map(i => i.type == "text" || i.type == "number" || i.type == "select-one" ? i.value : i.type == "file" ? i.files : i.type == "radio" && i.checked ? i.value : false)
        elements = elements.filter(i => i)
        let length_Final = elements.length
        let [model, stock, price, image, category, description, size, gender, color] = elements

        image = image[0]
        console.log(image)

        let validate = true
        length_Final < camposLengt ? (alert("Te falta poner algo mi bro"), validate = false)
            : stock < 0 || price < 0 ? (alert("El stock y el precio deben ser solo números positivos"), validate = false)
                : image.size > 5000000 || image.type.split("/")[0] !== "image" ? (alert("El archivo debe ser una imagen de máximo 5MB"), validate = false)
                    : !categoriesNames.includes(category) || !sizes.includes(size) ? (alert("Alerta de hack"), validate = false) : false

        category = categories.find(c => c.name == category).id

        let formDataImage = new FormData()
        formDataImage.append("image", image)
        if (validate) {


            const urlImage = (await axios.post("/files", formDataImage)).data
            await axios.post("/productos",

                [stock, price, urlImage, category, description, size, gender, color, model]
            )
        }

        else {

        }

    })


    /*
        var formData = new FormData();
        var imagefile = document.querySelector('#file');
        formData.append("image", imagefile.files[0]);
        axios.post('upload_file', formData, {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        })
    */
</script>