<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input maxlength="30" required class="form-control" placeholder="Ingrese el nombre del producto">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Stock</label>
        <input required class="form-control" type="number" placeholder="Ingrese cantidad">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Precio</label>
        <input required class="form-control" type="number" placeholder="Ingrese el precio del producto">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Imagen</label>
        <input required class="form-control" type="file" placeholder="Ingrese imagen del producto">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Categoría</label>
        <select required class="form-control">
            <option selected disabled>
                <--- Seleccione la categoría --->
            </option>
            <option value="Poleras">Poleras</option>
            <option value="Pantalones">Pantalones</option>
            <option value="Sombreros">Sombreros</option>
            <option value="Zapatos">Zapatos</option>
            <option value="Polerones">Polerones</option>
            <option value="Blusas">Blusas</option>
            <option value="Shorts">Shorts</option>
            <option value="Camisa">Camisa</option>
        </select>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Descripción</label>
        <input required class="form-control" placeholder="Ingrese el descripción del producto">
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
</form>


