<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Modelo</label>
        <input maxlength="30" class="form-control" placeholder="Ingrese el Modelo del producto">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Stock</label>
        <input class="form-control" type="number" placeholder="Ingrese cantidad">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Precio</label>
        <input class="form-control" type="number" placeholder="Ingrese el precio del producto">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Imagen</label>
        <input class="form-control" type="file" placeholder="Ingrese imagen del producto">
        <small id="passwordHelpInline" class="text-muted">
            Peso máximo: 5MB
        </small>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Categoría</label>
        <select class="form-control" id="categories">
            <option selected disabled>
                <--- Seleccione la categoría --->
            </option>


        </select>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Descripción</label>
        <input class="form-control" placeholder="Ingrese el descripción del producto">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Talla</label>
        <select class="form-control" id="sizes">
            <option selected disabled>
                <--- Seleccione la categoría --->
            </option>


        </select>

    </div>

    <div class="form-group w-50">
        <label for="exampleInputEmail1">Genero</label>
        <div class="d-flex justify-content-around">
            <div>
                <span>Hombre</span>
                <input class="form-control" value="hombre" type="radio" name="genero">
            </div>

            <div>
                <span>Mujer</span>
                <input class="form-control" value="mujer" type="radio" name="genero">
            </div>
            <div>
                <span>Unisex</span>
                <input class="form-control" value="unisex" type="radio" name="genero">
            </div>
        </div>

    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Color</label>
        <select class="form-control">
            <option value="Azul">Azul</option>
            <option value="Rojo">Rojo</option>
            <option value="Amarillo">Amarillo</option>
            <option value="Morado">Morado</option>
            <option value="Negro">Negro</option>
            <option value="Blanco">Blanco</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Agregar</button>
</form>

